<% unless prospect.valid? %>
<div class="warning"><%= prospect.validation_error %></div>
<% end %>

<form method="post" action="/register/">

	<label for="first">First Name</label>
	<input type="text" id="first" name="first" value="<%= prospect.first %>">
	
	<label for="last">Last Name</label>
	<input type="text" id="last" name="last" value="<%= prospect.last %>">
	
	<label for="email">Email</label>
	<input type="text" id="email" name="email" value="<%= prospect.email %>">
	
	<input type="submit" name="action" value="Register">
	
</form>